<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tiffany Ferderer</title>

    <!-- CSS (Make sure Bootstrap is first) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- favicon -->
</head>

<body>
<div class="container">
    <!-- Call to action -->
    <div class="jumbotron m-5">
        <h1>Tiffany Ferderer</h1>
        <h6>Aspiring software developer</h6>
    </div>

    <!-- Projects-->
    <div class = "row m-5">

        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="" alt="" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Sushi Website</h4>
                    <h5 class="card-subtitle">Sushi website</h5>
                    <p class="card-text">Description of project here</p>
                </div>
            </div>
        </div><!--col-->

        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="" alt="" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Auto-fill Dictionary Search</h4>
                    <p class="card-text">Description of project</p>
                </div>
            </div>
        </div><!--col-->

    </div><!--row-->

    <div class = "row m-5">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="" alt="" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Sally Brandle</h4>
                    <p class="card-text">Website description</p>
                </div>
            </div>
        </div><!--col-->

        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="" alt="" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Kent Outreach</h4>
                    <p class="card-text">Project Description</p>
                </div>
            </div>
        </div><!--col-->
    </div> <!--row-->

</div>

<!-- About me section -->
<div class="jumbotron m-5">
    <h1>About</h1>
    <p>About me </p>

<footer>
    <p>Example of footer</p>
</footer>
</div>

 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>